{namespace vh=RKW\RkwOrder\ViewHelpers}
{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}

<f:section name="userData">
	<div class="v320-1-of-2">

		<!-- Gender -->
		<div class="v320-1">
			<label for="txrkworder-gender" class="form-label">
				<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.gender" />
			</label>
			<f:form.select id="txrkworder-gender" property="shippingAddress.gender" value="{f:if(condition:'{newOrder.shippingAddress.gender} != 99',then:'{newOrder.shippingAddress.gender}',else:'{frontendUser.txRkwregistrationGender}')}" options="{99: '{f:translate(key:\"LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.gender.I.pleaseSelect\")}', 0: '{f:translate(key:\"LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.gender.I.man\")}', 1: '{f:translate(key:\"LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.gender.I.woman\")}'}" optionValueField="uid" optionLabelField="name" />
		</div>

		<!-- title -->
		<div class="v320-1">
			<label for="txrkworder-title" class="form-label">
				<f:translate key="tx_rkworder_domain_model_shippingaddress.title" />
				<span class="optional">&nbsp;<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:partials_order_formFields.labelOptional" /></span>
			</label>
			<f:form.select id="txrkworder-title" property="shippingAddress.title" options="<rkwRegistration:titleList />" optionValueField="uid" optionLabelField="name" prependOptionValue="0" prependOptionLabel="{f:translate(key:'LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.title.I.pleaseSelect')}" />
		</div>

		<!-- firstName -->
		<div class="v320-1">
			<label for="txrkworder-firstName" class="form-label">
				<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.first_name" />
			</label>
			<f:if condition="{newOrder.firstName}">
				<f:then>
					<f:form.textfield id="txrkworder-firstName" property="shippingAddress.firstName" value="{shippingAddress.firstName}" additionalAttributes="{autocomplete: 'fname'}" class="feedback-field" />
				</f:then>
				<f:else>
					<f:form.textfield id="txrkworder-firstName" property="shippingAddress.firstName" value="{frontendUser.firstName}" additionalAttributes="{autocomplete: 'fname'}" class="feedback-field" />
				</f:else>
			</f:if>
		</div>

		<!-- lastName -->
		<div class="v320-1">
			<label for="txrkworder-lastName" class="form-label">
				<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.last_name" />
			</label>
			<f:if condition="{newOrder.lastName}">
				<f:then>
					<f:form.textfield id="txrkworder-lastName" property="shippingAddress.lastName" value="{shippingAddress.lastName}" additionalAttributes="{autocomplete: 'lname'}" class="feedback-field"/>
				</f:then>
				<f:else>
					<f:form.textfield id="txrkworder-lastName" property="shippingAddress.lastName" value="{frontendUser.lastName}" additionalAttributes="{autocomplete: 'lname'}" class="feedback-field"/>
				</f:else>
			</f:if>
		</div>


	</div>


	<div class="v320-2-of-2">

		<!-- company -->
		<div class="v320-1">
			<label for="txrkworder-company" class="form-label">
				<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.company" />
				<span class="optional">&nbsp;<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:partials_order_formFields.labelOptional" /></span>
			</label>
			<f:if condition="{newOrder.shippingAddress.company}">
				<f:then>
					<f:form.textfield id="txrkworder-company" property="shippingAddress.company" value="{shippingAddress.company}" class="feedback-field"/>
				</f:then>
				<f:else>
					<f:form.textfield id="txrkworder-company" property="shippingAddress.company" value="{frontendUser.company}" class="feedback-field"/>
				</f:else>
			</f:if>
		</div>

		<!-- address -->
		<div class="v320-1">
			<label for="txrkworder-address" class="form-label">
				<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.address" />
			</label>
			<f:if condition="{newOrder.shippingAddress.address}">
				<f:then>
					<f:form.textfield id="txrkworder-address" property="shippingAddress.address" value="{shippingAddress.address}" additionalAttributes="{autocomplete: 'address'}" class="feedback-field"/>
				</f:then>
				<f:else>
					<f:form.textfield id="txrkworder-address" property="shippingAddress.address" value="{frontendUser.address}" additionalAttributes="{autocomplete: 'address'}" class="feedback-field"/>
				</f:else>
			</f:if>
		</div>

		<!-- zip -->
		<div class="small-fields">

			<div class="v320-1-of-2">
				<div class="v320-1">
					<label for="txrkworder-zip" class="form-label">
						<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.zip" />
					</label>
					<f:if condition="{newOrder.shippingAddress.zip}">
						<f:then>
							<f:form.textfield id="txrkworder-zip" property="shippingAddress.zip" value="{shippingAddress.zip}" additionalAttributes="{autocomplete: 'zip'}" class="feedback-field"/>
						</f:then>
						<f:else>
							<f:form.textfield id="txrkworder-zip" property="shippingAddress.zip" value="{frontendUser.zip}" additionalAttributes="{autocomplete: 'zip'}" class="feedback-field"/>
						</f:else>
					</f:if>
				</div>
			</div>

			<!-- city -->
			<div class="v320-2-of-2">
				<div class="v320-1">
					<label for="txrkworder-city" class="form-label">
						<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_shippingaddress.city" />
					</label>
					<f:if condition="{newOrder.shippingAddress.city}">
						<f:then>
							<f:form.textfield id="txrkworder-city" property="shippingAddress.city" value="{shippingAddress.city}" additionalAttributes="{autocomplete: 'city'}" class="feedback-field"/>
						</f:then>
						<f:else>
							<f:form.textfield id="txrkworder-city" property="shippingAddress.city" value="{frontendUser.city}" additionalAttributes="{autocomplete: 'city'}" class="feedback-field"/>
						</f:else>
					</f:if>
				</div>
			</div>
		</div>

		<!-- e-mail -->
		<div class="v320-1">
			<label for="txrkworder-email" class="form-label">
				<f:translate key="LLL:EXT:rkw_order/Resources/Private/Language/locallang.xlf:tx_rkworder_domain_model_order.email" />
			</label>
			<f:if condition="{frontendUser}">
				<f:then>
					<f:form.textfield id="txrkworder-email" property="email" value="{frontendUser.email}" additionalAttributes="{autocomplete: 'email'}"  class="feedback-field"/>
				</f:then>
				<f:else>
					<f:form.textfield id="txrkworder-email" property="email" additionalAttributes="{autocomplete: 'email'}"  class="feedback-field"/>
				</f:else>
			</f:if>
		</div>
	</div>

</f:section>




