{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='templates_email_deleteOrderUser.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOrder' /> " appendText=","/>

<rkwMailer:frontend.translate key="templates_email_deleteOrderUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" />
<rkwMailer:frontend.translate key="templates_email_deleteOrderUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" />

<f:render partial="Email/Details" section="Plaintext" arguments="{order: order, frontendUser: order.frontendUser, language: frontendUser.txRkwregistrationLanguageKey}"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
    <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='templates_email_deleteOrderUser.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOrder' /> " appendText=","/>
	<p>
		<rkwMailer:frontend.translate key="templates_email_deleteOrderUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" /><br>
		<rkwMailer:frontend.translate key="templates_email_deleteOrderUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" />
	</p>
	<f:render partial="Email/Details" section="Html" arguments="{order: order, frontendUser: frontendUser, language: frontendUser.txRkwregistrationLanguageKey}"/>
</f:section>