{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<vh:frontend.translate key="templates_email_deleteOrderUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" />

<vh:frontend.translate key="templates_email_deleteOrderUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" />
<vh:frontend.translate key="templates_email_deleteOrderUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" />

<f:render partial="Email/Details" section="Plaintext" arguments="{order: order, frontendUser: order.frontendUser, language: frontendUser.txRkwregistrationLanguageKey}"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><vh:frontend.translate key="templates_email_deleteOrderUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
	<p>
		<vh:frontend.translate key="templates_email_deleteOrderUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" /><br>
		<vh:frontend.translate key="templates_email_deleteOrderUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" />
	</p>
	<f:render partial="Email/Details" section="Html" arguments="{order: order, frontendUser: frontendUser, language: frontendUser.txRkwregistrationLanguageKey}"/>
</f:section>