{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='templates_email_optInRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOrder' /> " appendText=","/>

<rkwMailer:frontend.translate key="templates_email_optInRequest.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder"  />
<rkwMailer:frontend.translate key="templates_email_optInRequest.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder"  />

<f:render partial="Email/Details" section="Plaintext" arguments="{order: registration.data, frontendUser: frontendUser, language: frontendUser.txRkwregistrationLanguageKey}"/>


=============================================================
<rkwMailer:frontend.translate key="templates_email_optInRequest.confirmHeadline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder"/>:
=============================================================

<rkwMailer:frontend.translate key="templates_email_optInRequest.textOptIn" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" />
<rkwMailer:frontend.link action="optIn" controller="Order" extensionName="rkwOrder" pluginName="rkwOrder" absolute="true" noCacheHash="true" pageUid="{pageUid}" additionalParams="{tx_rkworder_rkworder: {token_yes: tokenYes, user: userSha1}}" section="rkw-order" />

<rkwMailer:frontend.translate key="templates_email_optInRequest.textOptOut" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" />
<rkwMailer:frontend.link action="optIn" controller="Order" extensionName="rkwOrder" pluginName="rkwOrder" absolute="true" noCacheHash="true" pageUid="{pageUid}" additionalParams="{tx_rkworder_rkworder: {token_no: tokenNo, user: userSha1}}" section="rkw-order" />
</f:section>
<!-- HTML -->
<f:section name="Html">
    <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='templates_email_optInRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwOrder' /> " appendText=","/>
    <p>
		<rkwMailer:frontend.translate key="templates_email_optInRequest.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" /><br>
		<strong><rkwMailer:frontend.translate key="templates_email_optInRequest.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" /></strong>
	</p>

	<f:render partial="Email/Details" section="Html" arguments="{order: registration.data, frontendUser: frontendUser, language: frontendUser.txRkwregistrationLanguageKey}"/>

	<h2><rkwMailer:frontend.translate key="templates_email_optInRequest.confirmHeadline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder"/></h2>
	<p>
		<rkwMailer:frontend.translate key="templates_email_optInRequest.textOptIn" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder"/><br>
		<a href="<rkwMailer:frontend.link action='optIn' controller='Order' extensionName='rkwOrder' pluginName='rkwOrder' absolute='true' noCacheHash='true' pageUid='{pageUid}' additionalParams='{tx_rkworder_rkworder: {token_yes: tokenYes, user: userSha1}}' section='rkw-order' />"><rkwMailer:frontend.translate key="templates_email_optInRequest.textOptInLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder"/></a>
	</p>
	<p>
		<rkwMailer:frontend.translate key="templates_email_optInRequest.textOptOut" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder" /><br>
		<a href="<rkwMailer:frontend.link action='optIn' controller='Order' extensionName='rkwOrder' pluginName='rkwOrder' absolute='true' noCacheHash='true' pageUid='{pageUid}' additionalParams='{tx_rkworder_rkworder: {token_no: tokenNo, user: userSha1}}' section='rkw-order' />"><rkwMailer:frontend.translate key="templates_email_optInRequest.textOptOutLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwOrder"/></a>
	</p>
</f:section>




