{namespace vh=RKW\RkwOrder\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

    <f:render partial="Order/Availability"  arguments="{_all}" />

    <f:flashMessages as="flashMessages">
        <f:for each="{flashMessages}" as="flashMessage">
            <div class="typo3-messages">
                <div class="alert alert-{flashMessage.class}">
                    <div class="media">
                        <div class="media-body">
                            <div class="alert-message">
                                {flashMessage.message}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </f:flashMessages>

    <f:render partial="FormErrors" arguments="{object:Order}" />

    <f:if condition="{publication}">

        <!-- different labels -->
        <f:if condition="{publication.series}">
            <f:then>
                <p><f:translate key="templates_order_new.introductionSeries" /></p>
            </f:then>
            <f:else>
                <p><f:translate key="templates_order_new.introduction" /></p>
            </f:else>
        </f:if>


        <!-- form -->
        <f:form action="create" name="newOrder" object="{newOrder}" class="form-fields">
            <f:render partial="Order/FormFields"  arguments="{_all}" />
        </f:form>

    </f:if>
</f:section>