
<f:layout name="Default" />

<f:section name="main">

    <div id="rkw-order-availability"></div>

    <f:flashMessages as="flashMessages">
        <f:for each="{flashMessages}" as="flashMessage">
            <div class="typo3-messages">
                <div class="alert alert-{flashMessage.class}">
                    <div class="media">
                        <div class="media-body">
                            <div class="alert-message">
                                {flashMessage.message}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </f:flashMessages>

    <f:render partial="FormErrors" arguments="{object:Order}" />

    <f:if condition="{products}">
        <div id="rkw-order-wrap">

            <p><f:translate key="templates_order_new.introduction" /></p>

            <!-- form -->
            <f:form action="create" name="order" object="{order}" class="form-fields" id="rkw-order-container" additionalAttributes="{data-url : '/?type=1510210402&tx_rkworder_rkworder[pid]={pageUid}'}" >
                <f:render partial="Order/FormFields"  arguments="{_all}" />
            </f:form>
        </div>
    </f:if>
</f:section>