{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}

<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
=============================================================
<rkwMailer:frontend.translate key="partials_email_details.orderDetails" languageKey="{language}" extensionName="rkwOrder"/>
=============================================================
<f:if condition="{order.sendSeries}"><f:then>{order.amount} x <rkwMailer:frontend.translate key="partials_email_details.completeSeries" languageKey="{language}" extensionName="rkwOrder" arguments="{0 : order.publication.series.name}" /></f:then><f:else>{order.amount} x <rkwMailer:frontend.translate key="partials_email_details.singlePublication" languageKey="{language}" extensionName="rkwOrder" arguments="{0 : order.publication.title, 1: order.publication.subtitle}" /></f:else></f:if>
<f:if condition="{order.subscribe}"><f:then><rkwMailer:frontend.translate key="partials_email_details.subscribe" languageKey="{language}" extensionName="rkwOrder" arguments="{0 : order.publication.series.name}" /></f:then><f:else><rkwMailer:frontend.translate key="partials_email_details.doNotSubscribe" languageKey="{language}" extensionName="rkwOrder" arguments="{0 : order.publication.txRkwbasicsSeries.name}" /></f:else></f:if>
<f:if condition="{frontendUser}">
	
=============================================================
<rkwMailer:frontend.translate key="partials_email_details.orderPerson" languageKey="{language}" extensionName="rkwOrder" />
=============================================================
<f:if condition="{frontendUser.company}">{frontendUser.company}
</f:if><f:if condition="{frontendUser.txRkwregistrationTitle}"><rkwRegistration:title title="{frontendUser.txRkwregistrationTitle}" /> </f:if>{frontendUser.firstName} {frontendUser.lastName} ({frontendUser.username})
{frontendUser.address}
{frontendUser.zip} {frontendUser.city}
</f:if>

=============================================================
<rkwMailer:frontend.translate key="partials_email_details.shippingAddress" languageKey="{language}" extensionName="rkwOrder" />
=============================================================
<f:if condition="{order.company}">{order.company}
</f:if><f:if condition="{order.title}"><rkwRegistration:title title="{order.title}" /> </f:if>{order.firstName} {order.lastName}
{order.address}
{order.zip} {order.city}<f:if condition="{order.remark}">


=============================================================
<rkwMailer:frontend.translate key="partials_email_details.remark" languageKey="{language}" extensionName="rkwOrder" />
=============================================================
{order.remark}
</f:if></f:section>

<!-- HTML -->
<f:section name="Html">
	<h2><rkwMailer:frontend.translate key="partials_email_details.orderDetails" languageKey="{language}" extensionName="rkwOrder"/></h2>
	<p>
		<f:if condition="{order.sendSeries}">
			<f:then>
				{order.amount} x <rkwMailer:frontend.translate key="partials_email_details.completeSeries" languageKey="{language}" extensionName="rkwOrder" arguments="{0 : order.publication.series.name}" />
			</f:then>
			<f:else>
				{order.amount} x <rkwMailer:frontend.translate key="partials_email_details.singlePublication" languageKey="{language}" extensionName="rkwOrder" arguments="{0 : order.publication.title, 1: order.publication.subtitle}" />
			</f:else>
		</f:if>
		<br>
		<f:if condition="{order.subscribe}">
			<f:then>
				<rkwMailer:frontend.translate key="partials_email_details.subscribe" languageKey="{language}" extensionName="rkwOrder" arguments="{0 : order.publication.series.name}" />
			</f:then>
			<f:else>
				<rkwMailer:frontend.translate key="partials_email_details.doNotSubscribe" languageKey="{language}" extensionName="rkwOrder" arguments="{0 : order.publication.series.name}" />
			</f:else>
		</f:if>
	</p>

    <f:if condition="{frontendUser}">
        <h2><rkwMailer:frontend.translate key="partials_email_details.orderPerson" languageKey="{language}" extensionName="rkwOrder" /></h2>
        <p>
            <f:if condition="{frontendUser.company}">{frontendUser.company}<br/></f:if>
            <f:if condition="{frontendUser.txRkwregistrationTitle}"><rkwRegistration:title title="{frontendUser.txRkwregistrationTitle}" /> </f:if>{frontendUser.firstName} {frontendUser.lastName} ({frontendUser.username})<br/>
            {frontendUser.address}<br/>
            {frontendUser.zip} {frontendUser.city}
        </p>
    </f:if>

	<h2><rkwMailer:frontend.translate key="partials_email_details.shippingAddress" languageKey="{language}" extensionName="rkwOrder" /></h2>
	<p>
		<f:if condition="{order.company}">{order.company}<br/></f:if>
        <f:if condition="{order.title}"><rkwRegistration:title title="{order.title}" /> </f:if>{order.firstName} {order.lastName}<br/>
		{order.address}<br/>
		{order.zip} {order.city}
	</p>

	<f:if condition="{order.remark}">
		<h2><rkwMailer:frontend.translate key="partials_email_details.remark" languageKey="{language}" extensionName="rkwOrder" /></h2>
		<p>
			{order.remark}
		</p>
	</f:if>
</f:section>